# Build output
build/bin/
frontend/dist/

# Dependencies
frontend/node_modules/
build/node_modules/

# Wails generated bindings (regenerated on wails dev/build)
frontend/wailsjs/

# ffmpeg binary — не коммитим, вшивается при сборке локально
ffmpeg.exe
ffmpeg

# Logs & temp files
*.log
ffmpeg2pass*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.user
